@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
}

body {
  background-color: #1e1f29;
}

.flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
  border-radius: .1em;
}

.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: .75em;
  line-height: 1;
  padding: .25em;
  overflow: hidden;
}

.top,
.flip-card .top-flip {
  background-color: #f7f7f7;
  border-top-right-radius: .1em;
  border-top-left-radius: .1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #343650;
  color: #FF00FF;
}

.bottom,
.flip-card .bottom-flip {
  background-color: white;
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: .1em;
  border-bottom-left-radius: .1em;
  background-color: #343650;
  color: #FF00FF;
}

.flip-card .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

.container1 {
  display: flex;
  gap: .5em;
  justify-content: center;
  width: 60%;
  margin: auto;
}

.container-segment {
  display: flex;
  flex-direction: column;
  gap: .1em;
  align-items: center;
}

.segment {
  display: flex;
  gap: .1em;
}

.segment-title {
  font-size: 0.75rem;
  margin-top: 5px;
  color: #8486a9;
}

.main>h1 {
  text-align: center;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 50px;
  color: #ffffff;
}

.footer {
  color: #8486a9;
  font-size: 11px;
  position: absolute;
  left: 50%;
  top: 97%;
  transform: translate(-50%, -50%);

}

.footer span {
  color: #FF00FF;
  font-size: 11px;
}

.img_surprise_div {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.img_surprise_div img {
  width: 5rem;
}

.name_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.name_div h1 {
  color: magenta;
  font-size: 23px;
}

.name_div i {
  color: yellow;
}

.name_div div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crown_div {
  display: flex;
}

.crown_div svg {
  width: 1rem;
  color: #FFD700;
}

.surprise_span {
  color: magenta;
  font-size: 20px;
}